<button type="button" class="close">&times;</button>
<div class="inner">
    <h4><strong><%= title %></strong></h4>
    <div class="well well-sm">
        <p><strong>Додана:</strong> <%= formatDate() %></p>
        <p><strong>Тип проблеми:</strong> <%= probType %></p>
        <p><strong>Статус:</strong> <%= probStatus %></p>
        <p><strong>Важливість проблеми:</strong> <%= severity %>/5</p>
        <p><strong>Кілість голосів:</strong> <%= votes %>
            <% if(voted()) { %>
                <p class="message">Ви вже проголосували за цю проблему. Дякуємо.</p>
            <% } else { %>
                <button type="button" class="btn btn-success btn-vote"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <p class="message"></p>
            <% } %>
        </p>
    </div>
    <div class="well well-sm">
        <% if(leftEmail()) { %>
            <p>Дякуємо. Ви вже долучились до вирішення цієї проблеми.</p>
        <% } else { %>
            <form id="submitEmail">
                <div class="form-group">
                    <input type="email" class="form-control" required="required" name="email" placeholder="Вкажіть вашу електронну адресу">
                </div>
                <button type="submit" class="btn btn-success btn-email">Долучутися до вирішення цієї проблеми</button>
                <p class="email-message"></p>
            </form>
        <% } %>
    </div>
    <div class="well well-sm">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
    </div>
    <p><%= content %></p>
</div>