<button type="button" class="close">&times;</button>
<div class="inner">
    <h4><strong><%= title %></strong></h4>
    <div class="well well-sm">
        <p><strong>Додана:</strong> <%= formatDate() %></p>
        <p><strong>Тип проблеми:</strong> <%= probType %></p>
        <p><strong>Статус:</strong> <%= probStatus %></p>
        <p><strong>Важливість проблеми:</strong> <%= severity %>/5</p>
        <p><strong>Кілість голосів:</strong> 15 <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span></button></p>
    </div>
    <div class="well well-sm">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
        <img src="http://placehold.it/140x140" class="img-thumbnail">
    </div>
    <p><%= content %></p>
</div>